node_modules/
android/app/build/
android/build/
android/.gradle/
android/local.properties
android/app/google-services.json
android/keystore/
*.keystore
*.jks
ios/App/Pods/
ios/App/build/
ios/DerivedData/
ios/App/App/GoogleService-Info.plist
